body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

Body{
  background-image: url('https://img.freepik.com/free-vector/abstract-technological-background_23-2148897676.jpg?w=1060&t=st=1710518303~exp=1710518903~hmac=985e006967576d2df6091075735ee5c2cc26e3a6598610916f873c466fd71354');
  background-size: cover;
  height: 100vh;
  background-position: center center;
}

.App{
  margin:auto;
  width: 40%;
  padding: 2rem;
}
.Form{
  backdrop-filter: blur(3px);
  border: 1px solid white;
  padding:4rem;
  margin-top: 6rem;
}
.title{
  color: white;
}
.large{
  font-size: 3rem;
}
.input{
  width: 70%;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid rgba(255, 0, 0, 0);
}
.button{
  border-radius: 4px;
  border: 1px solid rgba(255, 0, 0, 0);
  padding: 10px;
  color:white;
  background: linear-gradient(112.5deg, rgb(95, 10, 135) 11.4%, rgb(164, 80, 139) 60.2%);
  /* width: 2px; */
}

@media only screen and (max-width:900px) and (min-width:400px) {
  .large{
    font-size: 2rem;
  }
  .Form{
    margin-top: 1rem;
    padding: 2rem;
  }
  .App{
    padding: 0;
    width: 70%;
  }
}
@media only screen and (max-width:700px) {
  .t{
    font-size: 1.9rem !important;
  }
  .Form{
    margin-top: 1rem;
  }
  .title{
    font-size: 1.2rem;
  }
  .App{
    padding: 0;
    width: 90%;
  }
}